.responsive-calendar .controls {
    text-align: center;
    padding-top: 15px;
}

.responsive-calendar .controls a {
    cursor: pointer;
}

.responsive-calendar .controls h4 {
    display: inline;
    font-weight: bold;
    font-size: 24px;
}
.responsive-calendar .controls h5 {
    display: inline;
    font-weight: bold;
}


.responsive-calendar .day-headers,
.responsive-calendar .days {
    font-size: 0;
}

.responsive-calendar .day {
    display: inline-block;
    position: relative;
    font-size: 30px;
    width: 14.285714285714286%;
    text-align: center;
    border-bottom: 1px #999 dotted;
    border-left: 1px #999 dotted;
}

.responsive-calendar .day.header {
    font-size: 18px;
}

.responsive-calendar .day.sat {
    border-right: 1px #999 dotted;
}

.responsive-calendar .day a {
    color: #000000;
    display: block;
    cursor: pointer;
    padding: 20% 0 20% 0;
}

.responsive-calendar .day.sat a,
.responsive-calendar .day.holiday a {
    color: red;
}

.responsive-calendar .day a:hover {
    background-color: #eee;
    text-decoration: none;
}

.responsive-calendar .day.header {
    border-bottom: 1px gray solid;
}

.responsive-calendar .day.header.end {
    color: red;
    border-right: 1px #999 dotted;
}

.responsive-calendar .day.active a {
    background-color: #1d86c8;
    color: #ffffff;
}

.responsive-calendar .day.active a:hover {
    background-color: #36a0e2;
}

.responsive-calendar .day.active .not-current {
    background-color: #8fcaef;
    color: #ffffff;
}

.responsive-calendar .day.active .not-current:hover {
    background-color: #bcdff5;
}

.responsive-calendar .day.not-current a {
    opacity: 0.6;
}

.responsive-calendar .day .badge {
    font-size: 10px;
    border-radius: 5px;
}

.responsive-calendar .day .badge-top {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
}

.responsive-calendar .day .badge-top-center {
    position: absolute;
    top: 2px;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #7BBC7B;
    color: #000000;
    font-weight: normal;
}

.responsive-calendar .day .badge-bottom-center {
    position: absolute;
    bottom: 2px;
    left: -1px;
    right: -1px;
    z-index: 1;
    background-color: transparent;
    color: #000000;
    font-weight: normal;
}

.responsive-calendar .day .badge-bottom {
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 1;
    background-color: #428BCA;
    border-color: #357EBD;
}

.responsive-calendar .day.not-current .badge {
    opacity: 0.6;
}
